<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Play Now</title>
        <link rel="icon" href="assets/icon.ico">

        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">

        <link rel="stylesheet" href="../css/index-styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
              rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg main-space-between">
            <a href="index.html" class="logo">LOGO</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link navigation" href="#">HOME<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation" href="#">WORK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation" href="#">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation" href="#">ABOUT ME</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-0">
                    <li class="nav-item">
                        <a class="nav-link navigation" href="#">SIGN UP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation" href="#">LOG IN</a>
                    </li>
                </ul>
            </div>
        </nav>

        <header class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
            <h1>PLAY TRADITIONAL GAME</h1>
            <h3 class="mt-4">Experience new traditional game play</h3>
            <a href="../../chapter-4/challenge/index.html" class="btn btn-lg cta py-3 px-5 mt-4">PLAY NOW
            </a>
            <div>
                <p class="m-0">THE STORY</p>
                <img src="assets/scroll-down.svg" alt="">
            </div>
        </header>

        <section id="the-game"
                 class="d-flex flex-column justify-content-center align-items-center">
            <div class="row">
                <div class="col-3">
                    <p>What’s so special?</p>
                    <h2 class="mt-2">THE GAMES</h2>
                </div>
                <div class="col-9 row">
                    <img class="col flex-grow-0" src="assets/switch-left.svg"
                         alt="">
                    <div class="carousel-img flex-grow-1 col"
                         style="background-color: #F3AF34">

                    </div>
                    <img class="col flex-grow-0" src="assets/switch-right.svg"
                         alt="">
                </div>
            </div>
        </section>

        <section id="features"
                 class="d-flex flex-column justify-content-center align-items-end">
            <div class="d-flex flex-row bd-highlight align-items-stretch">
                <div>

                </div>
                <div>
                    <p>What’s so special?</p>
                    <h2>FEATURES</h2>
                    <div class="row roadmap mt-5">
                        <div class="path d-flex flex-column align-items-center">
                            <img src="assets/ellipse.svg" alt="">
                            <div style="background-color: white; height: 5rem; width: 2px"></div>
                            <img src="assets/ellipse-outline.svg" alt="">
                            <img class="mt-5" src="assets/ellipse-outline.svg"
                                 alt="">
                        </div>
                        <div class="ml-2">
                            <h3>TRADITIONAL GAME</h3>
                            <p>If you miss your childhood, we provide many
                                traditional games here</p>
                            <h3 class="mt-4">GAME SUIT</h3>
                            <h3 class="mt-5">TBD</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="requirements">
            <div class="d-flex justify-content-center mt-4">
                <p>Can My Computer Run this game?</p>
            </div>
            <div class="system-requirements">
                <h2>SYSTEM<br>REQUIREMENTS</h2>
                <table class="table table-bordered mt-3">
                    <tbody>
                    <tr>
                        <td>
                            <h3>OS:</h3>
                            <p>Windows 7 64-bit only<br>(No OSX support at this
                                time)
                            </p>
                        </td>
                        <td>
                            <h3>PROCESSOR:</h3>
                            <p>Intel Core 2 Duo @ 2.4 GHZ or<br>AMD Athlon X2 @
                                2.8
                                GHZ</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>MEMORY:</h3>
                            <p>4 GB RAM</p>
                        </td>
                        <td>
                            <h3>STORAGE:</h3>
                            <p>8 GB available space</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h3>
                                GRAPHICS:
                            </h3>
                            <p>
                                NVIDIA GeForce GTX 660 2GB or
                                AMD Radeon HD 7850 2GB DirectX11 (Shader Model
                                5)
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="reviews">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-6 d-flex flex-column justify-content-center">
                        <h2>TOP SCORES</h2>
                        <p>This top score from various games provided<br>on this
                            platform</p>
                        <button type="button"
                                class="btn btn-lg cta py-3 px-5 w-50 mt-2">PLAY
                            NOW
                        </button>
                    </div>
                    <div class="col-6">
                        <div class="h-100 d-flex flex-column justify-content-center">
                            <div class="review-card column align-self-end w-75">
                                <div class="d-flex flex-row justify-content-between">
                                    <div class="d-flex flex-row">
                                        <img class="profile-pic"
                                             src="assets/evan-lahti.jpg" alt="">
                                        <div class="ml-3">
                                            <p class="profile-name m-0">Evan
                                                Lahti</p>
                                            <p class="profile-sub m-0">PC
                                                GAMER</p>
                                        </div>
                                    </div>
                                    <div>
                                        <img src="assets/twitter.svg" alt="">
                                    </div>
                                </div>
                                <p class="mt-2">“One of my gaming highlights of
                                    the year.”</p>
                                <p class="mt-2 caption">June 18, 2021</p>
                            </div>
                            <div class="review-card column align-self-start w-75 mt-2">
                                <div class="d-flex flex-row justify-content-between">
                                    <div class="d-flex flex-row">
                                        <img class="profile-pic"
                                             src="assets/jada-griffin.jpg"
                                             alt="">
                                        <div class="ml-3">
                                            <p class="profile-name m-0">Jada
                                                Griffin</p>
                                            <p class="profile-sub m-0">
                                                NERDREACTOR</p>
                                        </div>
                                    </div>
                                    <div>
                                        <img src="assets/twitter.svg" alt="">
                                    </div>
                                </div>
                                <p class="mt-2">“The next big thing in the world
                                    of streaming and survival games.”</p>
                                <p class="mt-2 caption">July 10, 2021</p>
                            </div>
                            <div class="review-card column align-self-end w-75 mt-2">
                                <div class="d-flex flex-row justify-content-between">
                                    <div class="d-flex flex-row">
                                        <img class="profile-pic"
                                             src="assets/aaron-williams.jpg"
                                             alt="">
                                        <div class="ml-3">
                                            <p class="profile-name m-0">Aaron
                                                Williams </p>
                                            <p class="profile-sub m-0">
                                                UPROXX</p>
                                        </div>
                                    </div>
                                    <div>
                                        <img src="assets/twitter.svg" alt="">
                                    </div>
                                </div>
                                <p class="mt-2">“Snoop Dogg Playing The Wildly
                                    Entertaining<br>‘SOS’ Is Ridiculous.”</p>
                                <p class="mt-2 caption">December 24, 2018</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="newsletter">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-6 h-100">
                        <img class="skull-img h-100"
                             src="assets/skull.png" alt="">
                    </div>
                    <div class="col-6">
                        <p class="mt-5">Want to stay in touch?</p>
                        <h2>NEWSLETTER<br>SUBSCRIBE</h2>
                        <p>In order to start receiving our news, all you have to
                            do is enter your email address. Everything else
                            will be taken care of by us. We will send you emails containing
                            information about game. We don’t spam.</p>
                        <form class="row">
                            <div class="form-group col-7">
                                <label class="caption" for="exampleInputEmail1">Email address</label>
                                <input placeholder="youremail@binar.com" type="email" class="form-control form-field" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="col-5">
                                <button type="button"
                                        class="btn btn-lg cta py-3 px-5 mt-2">PLAY
                                    NOW
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="row justify-content-end">
                <div class="col-6 d-flex flex-row justify-content-between align-items-center">
                    <a class="navigation" href="#">MAIN</a>
                    <a class="navigation" href="#">ABOUT</a>
                    <a class="navigation" href="#">GAME FEATURES</a>
                    <a class="navigation" href="#">SYSTEM REQUIREMENTS</a>
                    <a class="navigation" href="#">QUOTES</a>
                </div>
                <div class="col-3 d-flex flex-row main-space-evenly">
                    <a><img src="assets/facebook.svg" alt=""></a>
                    <a><img src="assets/twitter-card.png" alt=""></a>
                    <a><img src="assets/vector.svg" alt=""></a>
                    <a><img src="assets/twitch.svg" alt=""></a>
                </div>
            </div>
            <div class="divider my-5"></div>
            <div class="d-flex flex-row justify-content-between">
                <p class="navigation half-opacity">© 2018 Your Games, Inc. All Rights Reserved</p>
                <p class="navigation">PRIVACY | TERMS OF SERVICES | CODE OF CONDUCT</p>
            </div>
        </footer>
    </body>
</html>